@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$border-color: #8a4d76;

$family-sans-serif: "Nunito", sans-serif;
$bgcolor: black;

.center {
  display: flex;
  justify-content: center;
}
body {
  background-color: black;
}
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.666); /* Black w/ opacity */
}

.modal-content {
  padding: 20px;
}

.modal-box {
  background-color: #8885;
  backdrop-filter: blur(25px);
  margin: 10% auto;
  border-radius: 20px;
  border: 1px solid $border-color;
  max-width: 80%;
}

.border-thin-b {
  border-bottom: 1px solid $border-color;
}

.overflow-hidden {
  overflow: hidden;
}

.round {
    border-radius: 50%;
}

img {
  max-width: 100%;
  height: auto;
}
